<div class="jumbotron">
  <h1>Hi!</h1>
</div>

<div ng-controller="MainCtrl">

  <h2>Doggies</h2>

  <ul class="doggies">
    <li class="dog" ng-repeat="dog in doggies">
      <a href="#" ng-click="showDogDetails(dog)">{{ dog.name }}</a> - {{ dog.breed.name }}
    </li>
  </ul>

  <form>
    <h4>Add Dog</h4>
    <input type="text" placeholder="Max" ng-model="newDogName"></input>
    <input type="submit" ng-click="addDog(newDogName)"></input>
  </form>

  <form>
    <h3>Details about {{ currentDog.name }}</h3>
    <input type="text" ng-model="currentDog.name"></input>
    <select ng-model="currentDog.breed" ng-options="breed.name for breed in breeds">
    </select>
  </form>

</div>
